build/bin/dsi
build/bin/genDepend
build/bin/incPatch
build/bin/pp
.makedep
src/console
releases/md5*
releases/appweb*
*.asp
*.bak
*.dll
*.dsp
*.dylib
*.exe
*.idb
*.ilk
*.kdevelop*
*.kdevses
*.la 
*.lib
*.lnk
*.lo 
*.log
*.map
*.o 
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sym
*.tmp
.ignore
.kdbgrc*
BuildLog.htm
make.dep
.buildStarted
buildConfig.*
.buildConfig.*
tools/dsi
tools/genDepend
tools/incPatch
tools/pp
.CFG-*
bin/ec
bin/ejs
bin/ejsmod
bin/ejsvm
bin/makerom
es/ejs/EjsSlots.java
test/DefaultSlots.java
Debug
bin/http
bin/charGen
.DS_Store
lib/libmpr*
test/work/*.lst
bin/sqlite
es/ejs/*.lst
lib/libec.so
lib/libejs.so
samples/C/native/Control.so
bin/ejs.db.so
lib/libsqlite.so
src/ejsmod/esp.mod
.DS_Store
test/work/tt.es
src/esp/esp.lst
src/esp/file.list
test/work/db.es
lib/libesp.a
src/es/*.lst
test/doc
package/tmp
releases/md5*
releases/*.gz
releases/*.dmg
releases/*.zip
src/es/sys/Config.es
lib/*.a
test/sunspider
test/spec
src/types/core/regex/save
bin/esp
lib/*.so
test/db/test.sdb
bin/*.manifest
releases/*.deb
bin/*.a
.externalToolBuilders
bin/ejssql
test/ss
src/es/xslt
releases/tmp
lib/libcrypto*
lib/libssl*
doc/.patched
bin/x86_64*
lib/i586-*
bin/i586-*
bin/egen
.embedthis
.makedep
genDepend
archive/*
build/bin/dsi
build/bin/incPatch
build/bin/pp
src/es/file.list
src/all/db.c
src/all/ec.c
src/all/ec.h
src/all/ejs.c
src/all/ejs.h
src/all/ejsLib.c
src/all/sqlite.c
src/all/web.c
src/all/ejsDb.c
src/all/ejsWeb.c
src/es/web/Rack.nes
src/mpr/http.c
src/mpr/mprLib.c
src/mpr/mprPcre.c
src/mpr/mprSsl.c
bin/appweb
bin/appwebAngel
bin/cgiProgram
bin/httpPassword
bin/testAppweb
src/.linkedEjs
src/.linkedMpr
cgiProgram
cgi Program
nph-cgi*
cgiProgram*
samples/c/simpleServer/simpleServer
*.lst
src/ejs/es/file.list
src/test/web/*.mod
bin/*.mod
esql
package/oldFiles
build/bin/getpath
make.out
bin/*.so
src/ejs/es/*.mod
src/all/*.c
src/all/*.h
.rpmmacros
samples/c/simpleClient/simpleClient
samples/c/simpleEgi/simpleEgi
samples/c/simpleEjs/simpleEjs
*.mod
src/ejs/.ejs.slots.h
src/ejs/Config.es
src/ejs/ejs.db.slots.h
src/ejs/ejs.events.slots.h
src/ejs/ejs.io.slots.h
src/ejs/ejs.slots.h
src/ejs/ejs.sys.slots.h
src/ejs/ejs.web.slots.h
doc/api/appweb/xml
doc/api/appweb/html
*.sav
*.orig
bin/cgen
bin/ecgi
bin/ejsc
bin/ejscgi
bin/ejsgen
bin/ejsweb
bin/*/*.out
lib/*/*.a
*.out
src/server/cgi-bin/ejscgi
lib/modules/*.so
bin/appwebMonitor.ico
bin/ejscgi-debug
src/include/ejs.slots.h
src/ejs/default.slots.h
bin/i386-*
bin/ejsweb.es
lib/ejsweb.es
lib/default-web
bin/default-web
samples/c/simpleHandler/simpleHandler.so
lib/mime.types
bin/mime.types
build/bin/edep
bin/ajs
bin/ajsc
bin/ajsmod
bin/ajssql
bin/ajsweb
target/
mob
lib/i386-wrs-vxworks
lib/x86_64*
modules/*.so
modules/*/*.so
src/test/cgi-bin/testScript
bin/arm*
junk
ctarget
src/server/web/mgmt
src/server/ssl/ca.*
src/server/server.req
src/server/01.pem
src/server/ssl/01.pem
src/server/ssl/*.req
bin/ppc-*
appweb/
*.user
bin/*.def
staging
samples/c/simpleHandler/simpleHandler.def
src/test/web/upload/upload.mod
src/test/web/upload/*.mod
src/test/web/upload/upload.mod
extensions
old-target
bin/angel
bin/*.sln
bin/*.suo
*.suo
*.ncb
.appweb.pid
src/test/utest/web/tmp
*.sdf
.gdbinit
*.vcxproj.filters
test/old
test/cgi-bin/testScript
test/web/tmp
test/trace.txt
test/web/bugs
all/*.c
all/*.h
*.exp
test/regress/tcp
*.tdat
test/web/pipeline
bin/i686*
*/arm-*
*/i386-
*/i386-*
*.pbxuser
*.pbxproj
*.mode1v3
*.pbxbtree
strings.pbxstrings
pbxindex.header
appweb-iphone
*.pbxsymbols
projects/WIN/appweb-dynamic/sav
mob.persp*
.ejs.slots.h
sav
deps/ejs/ejs.slots.h
extensions
src/handlers/proxyHandler.c
*.swp
.*.swp
