*.o
*.makedep
*.dll
*.a
*.lib
.buildConfig.*
.buildStarted
buildConfig.make
*.dylib
*.exe
src/include/buildConfig.h
build/bin/buildConfig.sh
extensions
cgiProgram.cgi
nph-cgiProgram
cgi\ Program
src/server/cgi-bin/cgiProgram
samples/c/simpleClient/simpleClient
samples/c/simpleEgi/simpleEgi
samples/c/simpleServer/simpleServer
src/handlers/accessHandler.sav
src/handlers/proxyHandler.c
bin/appweb
bin/ejs*
bin/http
bin/makerom
bin/testAppweb
builud/bin/dsi
build/bin/edep
build/bin/getpath
*.mod
src/test/cgi-bin/cgiProgram
src/test/cgi-bin/testScript
build/bin/dsi
bin/cgiProgram
all/*.c
all/*.h
all/*.es
build/bin/*.pdb
*.obj
*.pdb
bin/*.def
bin/*.exp
src/server/*.res
src/deps/ejs/.ejs.slots.h
lib/*.so
src/test/trace.txt
lib/appweb.conf
src/test/.appweb.pid
src/test/web/junk
projects/MACOSX/appweb-all/build
releases/*.dmg
releases/*.deb
releases/*.gz
releases/*.zip
releases/*.txt
bin/httpPassword
*.swp
staging
src/test/web/tmp
*.tmp
Win32
*.ncb
*.suo
.port.log
bin/appweb.conf
releases/*.tgz
src/test/t.es
*/i386-wrs*
src/test/cgi-bin/*.out
src/server/WIN/*.res
bin/*.ico
bin/*.cmd
.cpy_copied
bin/www
lib/www
src/deps/ejs/*.lst
bin/angel*
doc/api/appweb/html
doc/api/appweb/xml
bin/*.manifest
bin/*.res
*.out
src/test/regress/tcp
src/include/ejs.slots.h
*/x86_64-*
out
src/server/conf/apps/web.conf
project.xcworkspace
xcuserdata
*.pbxuser
*.perspectivev3
.ejs.slots.h
src/test/.pidfile
.rpmmacros
rpm.log
*.cltmp
.embedthis
src/test/web/a
src/handlers/proxyHandler.nc
src/test/web/huge.txt
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport*
*.suo.old
*.sln.old
*.sdf
*.opensdf
projects/WIN/appweb-dynamic/Debug
.rpmmacros
rpm.log
*.stackdump
.publisher
*.guid
cache/view_*.c
src/test/*/cache/view_*.c
src/test/mvc/cache/*
src/test/cache
src/test/junk
src/test/farm.conf
src/test/app/cache
.DS_Store
doc/apiu/esp/html
doc/api/esp/xml
doc/api/esp/html
src/test/app/db/test.bak
src/modules/proxyHandler.nc
src/test/apps
build/bin/appman
src/server/cache
projects/WIN/appweb-all/php5ts_debug.dll.def
projects/WIN/appweb-all/simpleHandler.def
src/esp/js.save
src/esp/www/files.save
*.tdat
trace.log
web/caching/cache.cgi
web/caching/cache.cgi
src/test/web/caching/cache.cgi
src/test/servers.conf
test/error.log*
src/test/error.log*
access.log
src/server/error.log*
src/test/access.log*
imports
src/deps/ejs
dtmp
install.log
val.log
src/test/api/error.log
src/test/leak/error.log
web/reload.esp
/*-*.bit
/*-*-debug/
/*-*-release/
releases
test/cgi-bin/cgiProgram
test/cgi-bin/testScript
test/farm.conf
test/regress/tcp
test/servers.conf
test/trace.txt
test/web/caching/cache.cgi
test/web/basic/basic.cgi
.*.guid
src/samples/c/simpleEjs/simpleEjs
src/samples/cpp/cppHandler/cppModule.so
src/samples/cpp/cppModule/cppModule.so
view_*.c
view_*.o
view_*.dylib
view_*.ilk
view_*.exp
controller_*.exp
controller_*.ilk
*.ilk
*.exp
src/samples/c/simpleClient/simpleClient
src/samples/c/simpleServer/simpleServer
test/cache/view_*.*
test/app/cache/controller_*.*
test/app/cache/view_*.*
*.dmp
start.bit
*.user
.keep
