*.o
*.makedep
*.dll
*.a
*.lib
.buildConfig.*
.buildStarted
buildConfig.make
*.dylib
*.exe
src/include/buildConfig.h
build/bin/buildConfig.sh
extensions
cgiProgram.cgi
nph-cgiProgram
cgi\ Program
src/server/cgi-bin/cgiProgram
samples/c/simpleClient/simpleClient
samples/c/simpleEgi/simpleEgi
samples/c/simpleEjs/simpleEjs
samples/c/simpleServer/simpleServer
src/handlers/accessHandler.sav
src/handlers/proxyHandler.c
bin/appweb
bin/ejs*
bin/http
bin/makerom
bin/testAppweb
builud/bin/dsi
build/bin/edep
build/bin/getpath
*.mod
src/test/cgi-bin/cgiProgram
src/test/cgi-bin/testScript
build/bin/dsi
bin/cgiProgram
all/*.c
all/*.h
all/*.es
build/bin/*.pdb
*.obj
*.pdb
bin/*.def
bin/*.exp
src/server/*.res
src/deps/ejs/.ejs.slots.h
lib/*.so
src/test/trace.txt
lib/appweb.conf
src/test/.appweb.pid
src/test/web/junk
projects/MACOSX/appweb-all/build
releases/*.dmg
releases/*.deb
releases/*.gz
releases/*.zip
releases/*.txt
bin/httpPassword
*.swp
staging
src/test/web/tmp
*.tmp
*.user
Win32
*.ncb
*.suo
.port.log
bin/appweb.conf
releases/*.tgz
src/test/t.es
*/i386-wrs*
src/test/cgi-bin/*.out
src/server/WIN/*.res
bin/*.ico
bin/*.cmd
.cpy_copied
bin/www
lib/www
src/deps/ejs/*.lst
