<html>
<head>
	<title>Ejscript File Upload Test</title>
</head>

<!--
    This web pages posts back to itself when the user clicks submit. The postback code then moves/renames the file
    to save it.
-->

<% 	
	if (request.method == "POST") {
        /*
             d("THIS", this)
            d("request.headers", request.headers)
            d("params", params)
            d("request.files", request.files)
        */

        image = request.files.photo
        d("request.files.photo", image)

		mv(image.filename, "/tmp/uploaded.tmp")
%>
    <table border="1">
        <tr><td>Image Element:</td><td>@@image.name</td></tr>
        <tr><td>Client Filename:</td><td>@@image.clientFilename</td></tr>
        <tr><td>Temp File:</td><td>@@image.filename</td></tr>
        <tr><td>Saved Permanently As:</td><td>/tmp/uploaded.tmp</td></tr>
        <tr><td>Content Type:</td><td>@@image.contentType</td></tr>
        <tr><td>Size:</td><td>@@image.size</td></tr>
    </table>
<%
    }
%>

<body>

<H4>Test File Upload</H4>
<form method="POST" action="@@request.url" enctype="multipart/form-data">
    <input name="MAX_FILE_SIZE" type="hidden" value="30000">
    <table>
        <tr><td>Name</td><td><input name="name" type="text"></td></tr>
        <tr><td>Address</td><td><input name="address" type="text"></td></tr>
        <tr><td>Photo</td><td><input name="photo" type="file"></td></tr>
    </table>
    <input type="submit" name="ok" value="Send">
    <input type="reset" name="ok" value="Cancel">
</form>

</body>
</html>

