#!/usr/bin/make -f
#
# 	Debian source package rules makefile for appweb-src
#
# 	Copyright (c) Embedthis Software LLC, 2003-2012. All Rights Reserved.
#

build: 
	./configure
	make

clean:
	make clean

install: build
	make install

