<html>
<head><title>Ejscript Page</title></head>
<body>
<% 	
    //  This is used by ejs/* tests
    write("Napping 2 seconds .. " )
    App.run(2 * 1000, true)
    write("Awake")
%>
</body>
</html>

