<html>
<head>
    <title>Ejscript Test Program</title>
</head>
<body>
    <h1>Ejscript Test Program</h1>
    <h3>Server Time: <%= Date() %></h3>
    <p>Started <%= "%5.1f seconds ago".format(App.started.elapsed / 1000) %>.</p>
</body>
</html>
