//
//  Product.xcconfig - Product configuration for ejs-all
//
//  Copyright 2011 Embedthis Software. All rights reserved.
//

BLD_PRODUCT_NAME = ejs
CURRENT_PROJECT_VERSION = 4.0.0

TOP = $(SRCROOT)/../../..
OUT = $(TOP)/out
SRC = $(TOP)/src
JEMS = $(SRC)/jems
BBIN = $(TOP)/build/bin

SYMROOT = $(OUT)/bin
CONFIGURATION_TEMP_DIR = $(OUT)/tmp/$(CONFIGURATION)
CONFIGURATION_BUILD_DIR = $(SYMROOT)
INSTALL_PATH = /usr/lib/$(BLD_PRODUCT_NAME)
HEADER_SEARCH_PATHS = $OUT/inc
LIBRARY_SEARCH_PATHS = $(OUT)/bin
DSTROOT = /tmp/$(BLD_PRODUCT_NAME).dst
OBJROOT = $(OUT)

ARCHS = $(ARCHS_STANDARD_64_BIT)
DEPLOYMENT_LOCATION = NO
DYLIB_COMPATIBILITY_VERSION = $(CURRENT_PROJECT_VERSION)
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
GCC_C_LANGUAGE_STANDARD = gnu99
LD_DYLIB_INSTALL_NAME = @rpath/$(EXECUTABLE_PATH)
OTHER_LDFLAGS = -Wl,-rpath,@executable_path/ -Wl,-rpath,@executable_path/../bin -Wl,-rpath,@executable_path/../lib -Wl,-rpath,@executable_path/bin -Wl,-rpath,@loader_path/ -lcrypto -lssl
SKIP_INSTALL = NO


