<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Copyright Embedthis Software, LLC, 2003-2010. All Rights Reserved. -->

<!-- Ejscript form test -->

<html>
<head>
	<title>Ejscript Form Test</title>
</head>

<body>
<% 	
    createSession()
	// d("CONTROLLER", controller);

	if (request.method == "POST") {
		var ok = params["ok"];
		if (ok == "New Session") {
			destroySession();
			createSession(120);
            } else {
			session["name"] = params.name
			session["address"] = params.address
		}
	}
	write("<p>Using session: " + request.sessionID + "</p>\n");
%>

<H4>Test Form</H4>
<form method="POST" action="@@request.url">
    <table class="inputForm" border=0>
        <tr>
            <td><b>Name</b></td>
            <td><input name="name" type="text" value="@@session['name']"></td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td><input name="address" type="text" value="@@session['address']"></td>
        </tr>
    </table>
    <input type="submit" name="ok" value="Ok">
    <input type="submit" name="ok" value="New Session">
</form>

