<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.3" authoringToolBuild="174">
    <title>Appweb</title>
    <options allow-external-scripts="no" rootVolumeOnly="true"/>
    <domains enable_localSystem="true" />
    <readme file="ReadMe"/>
    <license file="License"/>
    <choices-outline>
        <line choice="choice4"/>
    </choices-outline>
    <choice id="choice4" title="BIN">
        <pkg-ref id="com.embedthis.appweb.bin.pkg"/>
    </choice>
    <pkg-ref id="com.embedthis.appweb.bin.pkg" version="1" auth="Root">file:./Contents/Packages/bin.pkg</pkg-ref>
</installer-script>
